

@model IEnumerable<Common.CurrentMeter>

@if (ViewData["Contact"] != null)
{
    <h1 style="color:blue">@ViewData["Title"]</h1>
}
<meta http-equiv="refresh" content="4" />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id </th>
        <th>Id brojila</th>
        <th>Lokacija</th>
        <th>Staro stanje</th>
        <th>Novo stanje</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ID</td>
            <td>@d.CurrentMeterID</td>
            <td>@d.Location</td>
            <td>@d.OldState</td>
            <td>@d.NewState</td>
        </tr>
    }
</table> 